*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fls
*.fdb_latexmk
*.run.xml
*.bcf
*.synctex(busy)
*.synctex.gz(busy)
*.nav
*.snm
*.vrb
*.xdv
*.bak
*.swp
*.swo
*.loa
*.brf
*.nlo
*.nls
*.synctex
*.run.xml
*.ptc
*.glsdefs
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.loa
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.nlo
*.nls
*.toc
*.xdy
*.backup
*.ltx
*.tikz
*.bbl
*.blg
*.run.xml
*.bcf
*.synctex.gz
*.fdb_latexmk
*.fls
*.auxlock
*.cpt
*.dep
*.dpth
*.md5
*.ext
*.rel
*.texpadtmp
*.tpsync
.DS_Store